node_modules/
dist/
build/
.next/
out/
coverage/
storybook-static/
*.tsbuildinfo
.turbo/

.env
.env.local
.env.*.local
!.env.example

.DS_Store
*.log
npm-debug.log*
pnpm-debug.log*

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# Prisma generated client
apps/api/src/generated/
